group Docs
    source https://www.nuget.org/api/v2
    framework: net6.0

    nuget FSharp.Core >= 4.5.2
    nuget Fable.Fetch
    nuget Fable.Core
    nuget Fable.Elmish.React
    nuget Fable.React
    nuget Feliz
    nuget Feliz.Router

group Fss
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core >= 4.5.2
 
group FssFable
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core >= 4.5.2
    nuget Fable.Core
    nuget Fable.Browser.Dom

group FssFeliz
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core >= 4.5.2
    nuget Fable.Core
    nuget Feliz

group Tests
    source https://www.nuget.org/api/v2

    nuget FSharp.Core
    nuget Fet
